* {
    box-sizing: border-box;
}
body {
    background: #dedede;
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
.scoresheet-container {
    background: #fff;
    border-radius: 0.25rem;;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 80ch;
    overflow-x: scroll;
}
.scoresheet {
    border-collapse: collapse;
    min-width: 100%;
    padding: 0.5rem;
}
.scoresheet caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: left;
}
.scoresheet thead th {
    border-bottom: solid #000 4px;
    border-top: solid #000 4px;
}
.scoresheet thead th:nth-child(1) {
    min-width: 15ch;
}
.scoresheet thead th:nth-child(2) {
    min-width: 15ch;
}
.scoresheet :is(td, th){
    border-bottom: solid #ddd 1px;
    height: 4rem;
    padding: 0.5rem;
    text-align: center;
}
.scoresheet tbody :is(td, th):nth-child(n + 3){
    border-left: solid #ddd 1px;
    border-right: solid #ddd 1px;
}
.scoresheet .help-text {
    font-weight: normal;
}

